Check-out
<br />
@foreach (var item in ViewBag.x)
{

    <span><strong>@item.Name</strong>‎ ‎  x @item.Count</span>
    
    <form asp-action="Checkout" method="post" style="display:inline;">
        <input type="hidden" name="name" value="@item.Name" />
        <input type="hidden" name="actionType" value="remove" />
        <button type="submit" @(item.Count <= 1 ? "disabled" : "")>−</button>
    </form>

    <form asp-action="Checkout" method="post" style="display:inline;">
        <input type="hidden" name="name" value="@item.Name" />
        <input type="hidden" name="actionType" value="add" />
        <button type="submit">+</button>
    </form>

    <br /><br />
}
    <a href="@Url.Action("Orders","Home",new{})">
        Place order
    </a>



