@using WebApplication2.Datalayer.Entities
@model List<UserEntity>
<a href="@Url.Action("MakeUser","Home")">maker</a>
<table class="table">
    <thead>

        <td>Id</td>

        <td>Naame</td>

        <td>Email</td>
    </thead>
    <tbody>
        @foreach(var user in Model){
            <tr>
                <td>@user.Id</td>
                <td><a href="@Url.Action("User","Home",new{userPublicId=user.PublicId})">
                    @user.Name
                    </a>
                </td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>