@using WebApplication2.Datalayer.Entities
@model List<UserEntity>
<a href="@Url.Action("MakeUser","Home")"class="butto4">maker</a>
<table class="table">
    <thead>
        <td>Id</td>
        <td>Naame</td>
        <td>Email</td>
        <td>Edit</td>
        <td>delete</td>
    </thead>
    <tbody>
        @foreach(var user in Model){
            <tr>
                <td>@user.Id</td>
                <td>
                    <a href="@Url.Action("User","Home",new{userPublicId=user.PublicId})">
                    @user.Name
                    </a>
                </td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("Update","Home",new{userPublicId=user.PublicId})"class="butto4">
                        Change
                    </a>
                </td>
                <td>
                    <form action="Users" method="post">
                        <input type="hidden" name="name" value=@user.PublicId />
                        <input type="submit" value=" X " class="butto3" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>