@model Useri

@foreach(Useri user in ViewBag.X){
	<h2>Hello: @user.Name</h2>
	<h3>Email: @user.Email</h3>
	<h3>City: @user.City</h3>
	<h3>Age: @user.Age</h3>
	<h3>Username: @user.Uname</h3>
	<h3>Password: @user.Pass</h3>
	<br />
}



